.header{
  //border: 1px solid black;


  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;


  @media (max-width: 760px) {
    padding: 0.5rem 2rem;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
  }



  @media (max-width: 500px) {
    padding: 0.5rem;
  }



  &__logo{
    height: 13rem;

    @media (max-width: 760px) {
      height: 8rem;
    }
  }



  &__nav{
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;

    transition: all 0.3s ease-in-out;
    margin-top: 1rem;
    padding: 2rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform-origin: top;

    font-family: sans-serif;
    font-weight: 300;
    letter-spacing: 0.5px;



    @media (max-width: 760px) {
      width: 100%;
      flex-flow: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 1rem;
      position: absolute;
      top: 7.5rem;
      left: 0;
      height: auto;
      background-color: $color-primary;
      z-index: 99999;
      padding-top: 1rem;
      padding-bottom: 0;
      border: none;

    }


    li{
      font-size: 1.6rem;
      height: 100%;

      @media (max-width: 760px) {

        width: 100% !important;
        min-height: 6rem;
        color: white;
        text-align: left;
        border-bottom: 1px dashed rgba(#fff,0.3);
        font-size: 2rem;
        font-weight: 500;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }

      a.active{
        font-weight: bold;
        @media (min-width: 760px) {
          color: $color-primary;
        }
      }


      a{
        margin: 0 1rem;
        padding: 0 1rem;
        text-transform: capitalize;

        @media (max-width: 760px) {
          text-align: center;
          width: 100% !important;
          margin: 0;
          padding: 0;
          min-height: 6rem;
          display: flex;
          justify-content: center;
          align-items: center;


        }

        &:hover{
          //text-decoration: underline;
          color: $color-primary;
          opacity: 1;

          @media (max-width: 760px) {
            color: white;
          }

        }
      }
    }
  }
}




.hideNav{

  @media (max-width: 760px) {
    transform: scaleY(0);
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding-top: 0;
    position: absolute;
  }

}


.hamburgerMenu{
  transition: all 0.2s ease-in-out;

  margin: 0 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  width: 3rem;
  height: 2.5rem;

  div{
    width: 100%;
    height: 2px;
    background-color: $color-primary;
  }

  @media (min-width: 760px) {
    display: none;

  }

}



.makeCross{
  transition: all 0.3s ease-in-out;

  @media (max-width: 760px) {
    display: flex;
    flex-flow: column;
    justify-content: center;
    transition: all 0.2s ease-in-out;

    & > :nth-child(1) {
      transform: rotate(45deg);
    }

    & > :nth-child(2) {
      transform: rotate(-45deg) translate(1px, -1px);
    }

    & > :nth-child(3) {
      display: none;
    }

  }
}

.topLogo{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 99999;
  transform-origin: top;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  transition: all 0.2s ease-in;
  a{
    &:active,&:focus{
      transform: translateY(0)!important;
    }
  }
  img{

    height: 5rem;
  }
}

.hideTop{
  overflow: hidden;
  transform: scaleY(0) rotateX(90deg);
}