.btn{
  text-align: center;
  vertical-align: center;
  cursor: pointer;
  border-radius: 22px;

  &--catg{

    font-size: 1.2rem;
    padding: 0.4rem 1rem;
    background-color: $color-primary;

    &:focus,&:active{
      color: white;
    }
  }


  &--primary{
    text-transform: capitalize;
    font-size: 1.45rem;
    padding: 1.6rem 3.2rem;
    background-color: $color-primary;


    @media screen and (max-width: 500px) {
      padding: 1.6rem 0.5rem;
      width: 14rem;
    }

    &:focus,&:active{
      color: white;
    }

  }
}

