.listigPost{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $color-container-bg;
  box-shadow: 1px 1px 3px rgba(black,0.1);
  border-radius: 6px;
  margin-bottom: 2.5rem;
  //border: 1px solid black;


  @media screen and (max-width: 800px) {
    align-items: flex-start;
  }
  @media screen and (max-width: 670px) {
    flex-flow: column;
  }

  &:hover &__img  {
    img{
        transform: scale(1.1);
    }
  }


  &__img{
    width: 35%;
    max-width: 41rem;
    min-width: 39rem;

    height: 28rem;
    overflow: hidden;
    transition: all 0.2s;

    &:active{
      transform: translateY(0);
    }

    @media screen and (max-width: 800px) {
      width: 30%;
      min-width: 35rem;
      height: 24rem;
    }


    @media screen and (max-width: 670px) {
      width: 100%;
      max-width: 100%;
      height: 30rem;
      img{
        object-fit: cover;
        width: 100%;
        max-width: unset;
      }
    }

    @media screen and (max-width: 500px) {
      height: 22rem;
      min-width: auto;

    }

    img{
      transition: all 0.2s;

      &:hover{
        transform: scale(1.1);
      }
    }

    .portraitImg{
      width: 100%;
      height: auto;
    }

  }


  .postDisplayText{
    //border: 1px solid black;

    width: 65%;
    padding: 1rem 0;
    padding-left: 2rem;
    align-items: flex-start;

    @media screen and (max-width: 800px) {
      width:70%;
    }

    @media screen and (max-width: 670px) {
      width: 100%;
      padding: 2rem 1rem;
    }


    h1{
      color:black;
      font-size: 3.7rem;
      width: 90%;

      @media screen and (max-width: 800px) {
        width: 98%;
        font-size: 3.5rem;
      }
    }

    p{
      color: $color-text !important;
      width: 85%;
      @media screen and (max-width: 800px) {
        width: 98%;
      }
    }

    &__more{
      a{

        @media screen and (min-width: 500px) {
          padding: 1.2rem 3.2rem;
        }
      }
    }

   h5{
     color: $color-text;
   }

  }

}
