.post{

  display: flex;
  flex-flow: column;

  &__Top{
    height: 34vh;
    min-height: 24rem;


    .postDisplayText{
      align-items: center!important;
      justify-content: space-evenly;

      h1{
        text-align: center;
        width: 100%;
        text-transform: capitalize;
      }

      .postDisplayText__more__date{
        margin: 0!important;
      }
    }
  }

  .container{
    //margin-top: 3rem;
    max-width: 110rem;
    padding: 2rem;
    width: 100%;


    @media screen and (max-width: 500px) {
      padding: 2rem 1rem;
    }

  }


  &__text{

    img{
      width: 100%;
      height: auto;
    }


    img{
      margin: 1rem 0 2rem;
      //width: 95%;
      //border: 1px solid black;
    }

    h2{
      font-size: 3.6rem;
      margin: 1.5rem 0;
      font-weight: bold;
    }

    h3{
      font-size: 3rem;
      text-align: left!important;
      align-self: flex-start;
      margin: 2rem 0 0;
    }


    h4{
      font-size: 3.2rem;
      font-weight: bold;
      text-align: left!important;
      align-self: flex-start;
      margin: 2rem 0 1rem;
      text-decoration: underline;
    }

    h5{
      font-size: 2rem;
      text-align: left!important;
      align-self: flex-start;
      margin: 2rem 0 0;
    }

    p{
      width: 100%;
      font-size: 1.85rem;
      font-family: 'Karla', sans-serif;
      line-height: 1.7;
      margin: 1rem 0;
      //word-spacing: 0.5px;
      a{
        display: inline;
        color: $color-primary;
        &:hover{
          text-decoration: underline;
        }
      }
    }

    ul{

      width: 100%;
      padding-left: 2rem;
      margin: 1rem 0;
      li{
        margin: 1.3rem 0;
        padding-left: 1rem;
        font-size: 1.7rem;
        width: 100%;
        text-align: left;
        font-weight: 400;
        position: relative;
        line-height: 1.3;

        a{
          display: inline;
          color: $color-primary;

          &:hover{
            text-decoration: underline;
          }
        }

        &:before{
          display: block;
          content: '';
          width: 5px;
          height: 2px;
          background-color: black;
          position: absolute;
          top: 1.1rem;
          left: 0;
          transform: translateY(-50%);

        }

      }

    }


    .circled-list{

      margin-top: 0;

      li {
        margin-top: 0.5rem;
        padding-left: 1.5rem;

        &:before {

          width: 6px;
          height: 6px;
          border-radius: 100%;
        }
      }

    }

    .font-med{
      font-size: 2.6rem;
      font-weight: 500;

    }


  }


}

strong{
  font-weight: bold;
}